/*
/* SOCIAL
/*-----------------------------------------------------*/


.social-listing {
	width: 100%;
	max-width: 480px;
	margin: 0 auto 20px auto;
	position: relative;
	@include clearfix();
	@include prefix(box-sizing, border-box);

	a.social-icon {
		display: inline-block;
		width: 20px;
		height: 20px;
		background: no-repeat 0 0;
		&:hover, &:focus {
			opacity: 0.8;
		}
		&.icon-facebook {
			background-image: url('#{$image-path}/social-icon-facebook.png');
		}
		&.icon-twitter {
			background-image: url('#{$image-path}/social-icon-twitter.png');
		}
		&.icon-instagram {
			background-image: url('#{$image-path}/social-icon-instagram.png');
		}
		&.icon-pinterest {
			background-image: url('#{$image-path}/social-icon-pinterest.png');
		}
	}

	a.action-icon {
		display: inline-block;
		width: 16px;
		height: 14px;
		background: no-repeat 0 0;
		&:hover, &:focus {
			opacity: 0.8;
		}
		&.icon-comment {
			background-image: url('#{$image-path}/action-icon-comment.png');
		}
		&.icon-share {
			background-image: url('#{$image-path}/action-icon-share.png');
		}
		&.icon-like {
			background-image: url('#{$image-path}/action-icon-like.png');
		}
		&.icon-favorite {
			background-image: url('#{$image-path}/action-icon-favorite.png');
		}
		&.icon-reply {
			background-image: url('#{$image-path}/action-icon-reply.png');
		}
		&.icon-retweet {
			width: 19px;
			background-image: url('#{$image-path}/action-icon-retweet.png');
		}
	}

	> .grid-cell {
		float: left;
		width: 100%;
		background: #fff;
		margin: 0 0 20px 0;
		position: relative;
		@include prefix(box-sizing, border-box);

		&.loading {
			opacity: 0;
		}

		> h3:first-child {
			width: 100%;
			//height: 1px;
			position: absolute;
			@include hidetext();
		}

		> a.social-icon {
			position: absolute;
			right: 6px;
			top: 6px;
		}

		> div.content {
			padding: 20px 32px 20px 16px;
			> p {
				color: #333;
				font-size: 12px;
				line-height: 16px;
				font-weight: bold;
				text-overflow: ellipsis;
				margin: 0 0 16px 0;
				overflow-x: hidden;
			}
			> div.cta {
				> a.action-icon {
					&:not(:first-child) {
						margin-left: 1.0em;
					}
				}
			}
		}

		> div.media {
			//margin-top: -8px;
			> a {
				display: block;
				position: relative;
				> img {
					display: block;
					width: 100%;
					height: auto;
				}
				&.video:after {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					background: url('#{$image-path}/btn-play.png') no-repeat center center;
				}
				&.video:hover:after, &.video:focus:after {
					opacity: 0.8;
				}
			}
		}

	}

}

.btn-load-more {
	cursor: pointer;
	clear: both;
	display: block;
	width: 100%;
	max-width: 480px;
	color: #fff;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 12px;
	text-align: center;
	text-transform: uppercase;
	background: #aaa;
	border: 0;
	margin: 0 auto;
	padding: 6px 0;

	&:hover, &:focus {
		background: #bbb;
	}

	&:after {
		content: "";
		display: inline-block;
		width: 10px;
		height: 8px;
		background: url('#{$image-path}/arrow-down.png') no-repeat 0 0;
		margin-left: 0.5em;
	}

}


// TABLET
@include respond-to(tablet) {
	.social-listing {
		width: 100%;
		max-width: 100%;
		.grid-cell {
			width: 300px;
			margin: 0 10px 20px 10px;
		}
	}
	.btn-load-more {
		width: 160px;
	}
}


// DESKTOP
@include respond-to(desktop) {
	.social-listing {
		width: 100%;
		max-width: 100%;
		.grid-cell {
			width: 300px;
			margin: 0 10px 20px 10px;
		}
	}
	.btn-load-more {
		width: 160px;
	}
}

