/*
/* BREAKPOINTS
/*-----------------------------------------------------*/


#breakpoint-indicator {
	width: 1px;
	height: 1px;
	position: absolute;
	left: -1px;
	top: -1px;
	z-index: 1;
}


@include respond-to(tablet) {

	#breakpoint-indicator {
		z-index: 2;
	}

}


@include respond-to(desktop) {

	#breakpoint-indicator {
		z-index: 3;
	}

}
