
// CONFIG VARS
//-------------------------------------------------------

// Namespace
$namespace: "sopro";

// Colors
$text-primary: #010101;
$text-dark-gray: #333;
$text-med-gray: #999;
$text-light-gray: #ccc;
$link-color: #900;
$link-hover-color: #c00;
$error-color: #900;
$border-color-dark: #333;
$border-color-med: #999;
$border-color-light: #ccc;
$border-color-xlight: #dedede;

$vendor-prefixes: webkit moz ms o spec;

$image-path: "../img";
$font-path: "../fonts";

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$mobile-width: 300px;
$tablet-width: 700px;
$desktop-width: 960px;

// Chrome
$header-height: 160px;
$footer-height: 160px;
