
// CONFIG VARS
//-------------------------------------------------------

// Colors
$text-primary: #333;
$text-light: #ccc;
$link-color: #c00;
$link-color-active: #f00;
$border-color: #333;

$image-path: "../img";

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$mobile-width: 300px;
$tablet-width: 700px;
$desktop-width: 960px;

// Chrome
$header-height: 160px;
$footer-height: 160px;
